
.freela-item{
  background: var(--color-box-base);
  border-radius: 0.8rem;
  margin-top: 2.4rem;
  width:60rem;
  height:45rem;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.container{
  width:60rem;

}

.freela-item header{
  padding: 3.2rem 2rem 2.5rem 2rem;
  display:flex;
  width:60rem;
}

.freela-item header div{
  margin-left:1rem;
}

.freela-item header div strong{
  font: 700;
  font-size: 2rem;
  display: block;
  color: var(--color-text-title);
}

.freela-item header div span{
  font-size: 1.6rem;
  margin-top:0rem;
  color: black;
}

.freela-item img{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.freela-item .content > p {
  padding:0 2rem;
  font-size: 1.6rem;
  line-height:2.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow-color:black;
  text-nowrap: overflow;
  max-height: 14rem;
}

.freela-item .content {
  width:100%;
  min-height: 14rem;
  display: flex;
  justify-content: flex-start;
  flex-direction:column;
}


.freela-item footer{
  padding: 3.2rem 2rem;
  background:var(--color-box-footer);
  border-top:1px solid var(--color-line-in-white);
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.freela-item footer strong {
  margin-left:2rem;
  font-size: 1.6rem;
  color: var(--color-primary);

}

.freela-item button{
  background: var(--color-secundary);
  color: var(--color-title-in-primary);
  border: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width:23rem;
  height:5rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.freela-item button img{
  margin-right:1rem;
  width: 3rem;
  height: 3rem;
}

header{
  width:10rem;
}

.ver-perfil{
  background:var(--color-primary);
  width:9rem;
  height:4rem;
  padding:0.8rem;
  border-radius:0.5rem;
  display:flex;
  flex-align: center;
  justify-content:center;
  color : white;
  font-weight:500;
  font-size:1.5rem;
}

.header-content{
  width:60rem;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
