<main>
    <div class="main-wrapper">
        <div class="first-wrapper">
            <div class="lanes"> 
                <img src="../../../assets/UI/bot_gold.png" alt="">
                <img src="../../../assets/UI/bot_gold.png" alt="">
                <img src="../../../assets/UI/bot_gold.png" alt="">
                <img src="../../../assets/UI/bot_gold.png" alt="">
                <img src="../../../assets/UI/bot_gold.png" alt="">
                <img src="../../../assets/UI/bot_gold.png" alt="">
            </div>
            <button class="button-mobile" (click)="openModal()" style="cursor: pointer;">Poste um DUO</button>
        </div>

        <div class="selects">
            <select class="game-mode" name="" id="">
                <option value="soloduo">Ranked Solo</option>
                <option value="normal">Normal Game</option>
                <option value="flex">Ranked Flex</option>
                <option value="aram">Aram</option>
                <option value="arena">Arena</option>
            </select>
           
            <select class="elo" name="" id="">
                <option value="soloduo">Ranked Solo <img src="../../../assets/ranked-emblem/emblem-esmerald.png" alt=""></option>
                <option value="normal">Normal Game</option>
                <option value="flex">Ranked Flex</option>
                <option value="aram">Aram</option>
                <option value="arena">Arena</option>
            </select>
            
        </div>
        <button class="button-desktop" (click)="openModal()" style="cursor: pointer;">Poste um DUO</button>
    </div>
</main>

<app-filters-modal *ngIf="modalOpen" (closeModalTable)="closeModal($event)"></app-filters-modal>
