
<div id="page-freela-list">
  <app-page-header page="findfreela" title="Estes são os Freelas disponíveis."></app-page-header>
    <div id="freela-list" class="container">
        <div class="form-container">
            <form id="search-freelas" class="container">
                <div class="input-block">
                    <label htmlFor="subject">Area</label>
                    <input type="text" id="subject" />
                </div>

                <div class="input-block">
                    <label htmlFor="hour">Valor Hora</label>
                    <input type="text" id="hour" />
                </div>

                <div class="input-block">
                    <label htmlFor="time">Dias disponíveis</label>
                    <input type="text" id="time" />
                </div>
            </form>
        </div>
    </div>
    <div class="page-content">
      <div class="list">
        <div *ngFor="let fre123 of freelas" >
          <app-freela-item  [freela]="fre123"></app-freela-item>
        </div>
      </div>
    </div>
</div>
