<div class="freela-item">
  <div class="container">
  <header>
    <div>
      <strong class='strong'>{{project?.title}}</strong>
      <div class="subtitle">
        <span class="span">Publicado a {{publishTime}} horas</span>
        <span class="span" style="margin-left: 2rem;">Propostas : {{project?.proposes}}</span>
      </div>
    </div>
  </header>
  <div class="content">
    <p>{{project?.description}}</p>
  </div>
  <div class="category">
   <p><strong>Categoria :</strong> {{project?.area}}</p>
   <div class="category-item">
    <img src="../../../assets/images/category-icons/nodejs.svg" alt="">
    <p>{{category}}</p>
   </div>
  </div>
  <div class="company">
    <img src="https://img.freepik.com/fotos-gratis/empresario-de-baixo-angulo_23-2148825893.jpg?w=1380&t=st=1666002190~exp=1666002790~hmac=0ea6c49f5bd6ef23faf3a3401f84a6b42efd3a5d3e11b01fd0f5ceb567cd9363" alt="" />
    <div class="company-content">
      <div class="ranking">
        <div class="titles">
          <strong class='strong'>{{project?.company?.name}}</strong>
          <div class="country">
            <img src="../../../assets/images/country-icons/Panama.svg" alt="">
            <p>Panamá</p>
          </div>
        </div>
        <div class="stars">
          <img *ngIf="ranking > 0" src="../../../assets/images/icons/fullstar.svg" alt="">
          <img *ngIf="ranking > 1" src="../../../assets/images/icons/fullstar.svg" alt="">
          <img *ngIf="ranking > 2" src="../../../assets/images/icons/fullstar.svg" alt="">
          <img *ngIf="ranking > 3" src="../../../assets/images/icons/fullstar.svg" alt="">
          <img *ngIf="ranking > 4" src="../../../assets/images/icons/fullstar.svg" alt="">
          <img *ngIf="ranking < 1" src="../../../assets/images/icons/star.svg" alt="">
          <img *ngIf="ranking < 2" src="../../../assets/images/icons/star.svg" alt="">
          <img *ngIf="ranking < 3" src="../../../assets/images/icons/star.svg" alt="">
          <img *ngIf="ranking < 4" src="../../../assets/images/icons/star.svg" alt="">
          <img *ngIf="ranking < 5" src="../../../assets/images/icons/star.svg" alt="">
        </div>
      </div>

    </div>
  </div>
  <div class="payment">
    <strong>Método de pagamento: </strong>
    <div class="verified">
      <img src="../../../assets/images/icons/verified.svg" alt="">
      <p>verificado</p>
    </div>
  </div>
  </div>
  <footer>
    <p>Preço/hora
          <strong>R$ {{project?.valuetopay}},00</strong>
      </p>
      <button type="button">
          <img src="../../../assets/images/icons//whatsapp.svg" alt="" />
          Entrar em contato
      </button>
  </footer>
</div>
