<body class="corpoDaPagina">
    <div class="textos">
        <h1 class="tituloInicial">Bem vindo ao Summoners world</h1>
        <p class="paragrafosLol">Este site tem como objetivo exibir todas as suas conquistas desde o início da sua jornada no League of Legends.</p>
        <p>Digite seu nick</p>
        <div class="proximostatus">
            <p class="colocarNick">nick</p> 
            <a class="proximoEstagio" href="status.html"><img class="botaoimagem" src="proximo2.png"></a>
        </div>
    </div>
       
    <div class="imagem">
        <img src="../../assets/images/background.jpg">
    </div>
</body>