.form{
  position: absolute;
  background:white;
  width:55rem;
  top:28rem;
  border-radius:5px;
  margin-bottom:10rem;
}

.project-form{
  flex-direction:column;
  height:150vh;
  width:100vw;
  display:flex;
  align-items:center;
}


 .page-header .header-content {
  margin-bottom: 6.4rem;
}

 main {
  background: var(--color-box-base);
  width: 100%;
  max-width: 74rem;
  border-radius: 0.8rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width:100%;

}

input,textarea{
  width:100%;
  border: 1px solid #E6E6F0;
  background: #FAFAFC;
  border-radius:5px;
  padding:1rem;
  font-size: 1.4rem;
}
input{
  height:4rem;
}

input:focus,textarea:focus{
  border: 1px solid var(--color-primary);
  outline:none;
}


label{
  font-size: 1.2rem;
  color:#9C98A6;
}

.inputs{
  margin-top:1rem;
}
.title{
  color:#434343;
}
.line{
  height:1px;
  width:100%;
  background: #E6E6F0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer{
  width:100%;
  background: var(--color-box-footer);
  padding:3rem 5rem 3rem 5rem;
  display:flex;
  align-items:center;
  justify-content:space-between;
  font-size:1.4rem;
  border-bottom: 2px solid rgba(0,0,0,0.05);
  border-radius:0px 0px 5px 5px;
}

.input-group{
  width:100%;
  padding:5rem;
}

button {
  width: 35%;
  height: 5.0rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font-family: Archivo;
  font-weight:600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
}

.warning{
  display: flex;

}

.warning p{
  margin-left:1rem;
}

.text-area{
  height:10rem;
}

@media (min-width: 700px) {
  .form{
    position: absolute;
    background:white;
    width:60rem;
    top:28rem;
    border-radius:5px;
    margin-bottom:10rem;
  }

}
