<div class="project-form">
  <app-page-header title="Faça seu cadastro
  para publicar um projeto." subtitle="O primeiro passo, é preencher esse
  formulário de inscrição."></app-page-header>
  <main class="form">
    <form [formGroup]="form">
        <div class="input-group">

        <h2 class="title">Seus dados</h2>
        <div class="line"></div>
        <div class="inputs">
          <label for="name">
            Name
          </label>
          <input class="" id="name" type="text" formControlName="name">
        </div>

        <div class="inputs">
          <label for="cpf">
            CNPJ ou CPF
          </label>
          <input class="" id="cpf" type="text" formControlName="cnpj">
        </div>

        <h2 style="margin-top: 5rem;" class="title">Sobre seu projeto</h2>
        <div class="line"></div>

        <div class="inputs">
          <label for="title">
            Titulo do projeto
          </label>
          <input class="" id="title" type="text" formControlName="title">
        </div>

        <div class="inputs">
          <label for="description">
            Descrição do projeto
          </label>
          <textarea name="" id="description" cols="30" rows="7" formControlName="description"></textarea>
        </div>

        <div class="inputs">
          <label for="area">
            Area do projeto
          </label>
          <input class="" id="area" type="text" formControlName="area">
        </div>

        <div class="inputs">
          <label for="valuetopay">
            Pagamento por hora
          </label>
          <input class="" id="valuetopay" type="text" formControlName="valuetopay">
        </div>

        <div class="inputs">
          <label for="categories">
            Categorias do projeto
          </label>
          <input class="" id="categories" type="text" formControlName="categories">
        </div>

        <div class="inputs">
          <label for="contact">
            Whatsapp
          </label>
          <input class="" id="contact" type="text" formControlName="contact">
        </div>
      </div>

      <footer>
        <div class="warning">
          <img src="../../../assets/images/icons/warning.svg" alt="Aviso importante">
          <p>
            Importante! <br />
            Preencha todos os dados
          </p>
        </div>
        <button type="submit" (click)="salvar()">
          Salvar cadastro
        </button>
      </footer>
    </form>
  </main>
</div>
