<div class='footer-component' >
    <div class='page4 ' >
        <div class='footers'>
            <div class='footer'>
                <h2>Sobre</h2>
                <a href="">Acerca de nós</a>
                <a href="">Como funciona</a>
                <a href="">Contato</a>
                <a href="">Fórum</a>
                <a href="">Redes sociais</a>
            </div>

            <div class='footer'>
                <h2>Empresas</h2>
                <a href="">Publicar projetos</a>
                <a href="">Acordo de Confidencialidade</a>
                <a href="">Perguntas Frequentes</a>
            </div>

            <div class='footer'>
                <h2>Freelancers</h2>
                <a href="">Criar Perfil</a>
                <a href="">Como escrever uma fatura</a>
                <a href="">Calculadora</a>
            </div>

            <div class='footer'>
                <h2>Termos</h2>
                <a href="">Código de conduta</a>
                <a href="">Taxas e Custos</a>
                <a href="">Política de Resolução de Disputas</a>
                <a href="">Política de Privacidade</a>
                <a href="">Termos de Acordo do Utilizador</a>
            </div>
        </div>
    </div>

    <div class='line'>
    </div>

    <span class='direitos'>© 2022 PNG - Todos os direitos reservados</span>

</div>
