<div id="page-login">


  <div class="main-content">
    <div class="login-wrapper">
      <img class="login-image" src="../../../assets/images/login-image.svg" alt="">
      <div class="main">

        <div class="text">
          <h1>Registre-se</h1>
        </div>

        <div class="buttons">
          <input placeholder="Usuário ou email" id="name" type="text" class="button">
          <input placeholder="Senha" type="password" class="button" id="name">
          <!-- <div class="checkbox">
            <input type="checkbox" id="name">
            <p>Ao criar sua conta, você está aceitando os
              termos e a politica de privacidade da Freela
            </p>
          </div> -->
          <div class="checkbox-wrapper">
            <div class="round">
              <input type="checkbox" id="checkbox" />
              <label for="checkbox"></label>
            </div>

            <p>Ao criar sua conta, você está aceitando os
              termos e a politica de privacidade da Freela</p>
          </div>
          <button class="button-submit button">Entrar</button>
        </div>

        <div class="another-account">
          <div class="line"></div>
          <p>ou entre com</p>
          <div class="line"></div>
        </div>

        <div class="google-account">
          <img src="../../../assets/images/icons/google-icon.svg" alt="">
        </div>

        <p>Já criou sua conta? <a routerLink="/login">Entrar</a></p>

      </div>
    </div>
  </div>
</div>
