<header>
    <main>
    <!-- Primeira barra do header aparece quando é menor que 1440px -->
        <div class="wrapper">
            <div class="title">
                <h1>DUO</h1>
                <section>
                    <!-- botão dos 3 pontinhos -->
                    <a href=""></a>
                    <!-- botão login -->
                    <button>Fazer login</button>
                </section>
            </div>
        </div>
        <!-- Icones dos jogos -->
        <div class="wrapper">
            <div class="gamesIcons container">
                <a href=""><img src="../../assets/logos/lol.svg" alt=""><span>League of Legends</span></a>
                <a href=""><img src="../../assets/logos/cs.svg" alt=""><span>Counter Strike</span></a>
                <a href=""><img src="../../assets/logos/valorant.svg" alt=""><span>Valorant</span></a>
                <a href=""><img src="../../assets/logos/clash.svg" alt=""><span>Clash of Clans</span></a>
            </div>
        </div>
    </main>

    <!-- Primeira barra que aparace somente quando a tela é maior que 1440px -->
    <div class="wrapper fullbar">
        <div class="gamesIcons title container">
        <h1>DUO</h1>
        <a href=""><img src="../../assets/logos/lol.svg" alt=""><span>League of Legends</span></a>
        <a href=""><img src="../../assets/logos/cs.svg" alt=""><span>Counter Strike</span></a>
        <a href=""><img src="../../assets/logos/valorant.svg" alt=""><span>Valorant</span></a>
        <a href=""><img src="../../assets/logos/clash.svg" alt=""><span>Clash of Clans</span></a>
        <a href=""></a>
        <!-- botão login -->
        <button>Fazer login</button>
        </div>
    </div>

    <!-- Opções para mudar de página -->
    <div class="wrapper">
        <div class="tabs container">
            <a href="">Encontrar um Duo</a>
            <a href="">Encontrar um Time (Clash)</a>
            <a href="">Encontrar um Clan</a>
            <a href="">Reportar  Trolls</a>
        </div>
    </div>
</header>
