<div id="page-login">


  <div class="main-content">
    <div class="login-wrapper">
      <img class="login-image" src="../../../assets/images/login-image.svg" alt="">
      <div class="main">

        <div class="text">
          <h1>Login</h1>
        </div>

        <div class="buttons">
          <input placeholder="Usuário ou email" id="name" type="text" class="button">
          <input placeholder="Senha" type="password" class="button" id="name">
          <button class="button-submit button">Entrar</button>
        </div>

        <div class="another-account">
          <div class="line"></div>
          <p>ou entre com</p>
          <div class="line"></div>
        </div>

        <div class="google-account">
          <img src="../../../assets/images/icons/google-icon.svg" alt="">
        </div>

        <p>Ainda não criou sua conta? <a routerLink="/register">Registre-se</a></p>

      </div>
    </div>
  </div>
</div>
