<div id="page-landing">
  <div class='page1'>
  <div id="page-landing-content" class="container">
    <div class='header'>
      <div class='logo-header'>
          <img src="../../../assets/images/icons/Freela.svg" alt="" />
      </div>
      <div>
        <a href="">Fale conosco</a>
        <a routerLink="/register">Cadastre-se</a>
        <a routerLink="/login">Login</a>
      </div>
    </div>
    <div class="logo-container">
      <h1>Nunca foi tão fácil <br />
        realizar seus projetos!</h1>
      <h2>Encontre os melhores freelancer para seu projeto.
      </h2>
    </div>
    <div  class="hero-image">
    <img
      src="../../../assets/images/jobhunt.svg"
      alt="Plataforma de estudos"
    />
    </div>

    <div class="buttons-container">
      <a href="" class="encontre-um-freela" routerLink="/encontre-um-freela">
        Encontre um Freela
      </a>

      <a href="" class="seja-um-freela" routerLink="/encontre-um-job">
        Seja um Freela
      </a>
    </div>

    <span class="total-connections">
      Total de 2500 conexões já realizadas
    </span>
  </div>
  </div>

  <div class='page2'>
    <div class='title'>
      <h1>Como funciona a <br /> plataforma?</h1>
    </div>
    <div class='cards'>
      <div id='card1' class='card1 card'>
        <img src="../../../assets/images/icons/register-icon.svg" alt="" />
        <p><b> Empregador :</b> Publique o seu projeto de forma fácil e gratuita. Basta preencher um título, descrição e orçamento</p>
        <hr />
        <p class='subtext'><b>Freelancer :</b> Inscreva-se de forma fácil e gratuita e obtenha 10 licitações gratuitas/mês</p>
      </div>

      <div id='card2' class='card2 card'>
        <img src="../../../assets/images/icons/navigation-icon.svg" alt="" />
        <p><b> Empregador :</b> Navegue pelos perfis, avaliações, entreviste, contrate o seu favorito e inicie o projeto</p>
        <p class='subtext'><b>Freelancer :</b> Navegue pelos projetos e licite nos que lhe interessam</p>
      </div>

      <div id='card3' class='card3 card'>
        <img src="../../../assets/images/icons/chat-icon.svg" alt="" />
        <p><b> Empregador & Freelancer :</b> Use a plataforma para conversar e partilhar ficheiros</p>
      </div>

      <div id='card4' class='card4 card'>
        <img src="../../../assets/images/icons/pay-icon.svg" alt="" />
        <p><b> Empregador :</b>  Só pague pelo trabalho quando este estiver concluído e estiver 100% satisfeito com a qualidade.</p>
        <p class='subtext'><b>Freelancer :</b> Receba o dinheiro acordado pelo trabalho que foi completado menos 10% para taxas</p>
      </div>
    </div>
  </div>

  <div class='page3'>
    <div class='title'>
        <h1>Algumas areas dos nossos Freelas</h1>
    </div>
    <div class='areas-cards'>
      <div class='areas-card areas-card1'>
        <img src="../../../assets/images/icons/marketing-icon.svg" alt="" />
        <div>
          <h4>Marketing</h4>
          <p>Se você quer acelerar o crescimento do seu negócio, precisa atrair mais pessoas e ter uma estratégia montada para convertê-los em clientes.</p>
        </div>
      </div>
      <div class='areas-card areas-card2'>
        <img src="../../../assets/images/icons/dev-icon.svg" alt="" />
        <div>
          <h4>Desenvolvimento</h4>
          <p>Do planejamento à execução, cuidamos de cada detalhe do seu projeto. Tudo com muita expertise, agilidade e uma abordagem focada na experiência do usuário.</p>
        </div>
      </div>
      <div class='areas-card areas-card3'>
        <img src="../../../assets/images/icons/mobile-icon.svg" alt="" />
        <div>
          <h4>Mobile</h4>
          <p>Ajudamos nossos clientes a alcançarem alto desempenho em desenvolvimento de Software, Mobile e Integrações de Sistemas.</p>
        </div>
      </div>
      <div class='areas-card areas-card4'>
        <img src="../../../assets/images/icons/administration-icon.svg" alt="" />
        <div>
          <h4>Administração</h4>
          <p>Aplicamos nossa expertise e visão analítica para você tomar decisões mais lucrativas. Organizamos seu financeiro. Analisamos seus números. Melhoramos seus resultados.</p>
        </div>
      </div>
      <div class='areas-card areas-card5'>
        <img src="../../../assets/images/icons/webdesign-icon.svg" alt="" />
        <div>
          <h4>Web Desing</h4>
          <p>Aumente seus resultados, vendendo mais no mundo digital. Agência de resultados digitais. Especialistas em estratégias digitais, tecnologia criativa e projetos de branding.</p>
        </div>
      </div>
      <div class='areas-card areas-card6'>
        <img src="../../../assets/images/icons/uiux-icon.svg" alt="" />
        <div>
          <h4>UX/UI</h4>
          <p>Alta qualidade em projetos de UX Design e User Interface. Prepare-se para o futuro com um novo produto digital. Queremos conhecer sua empresa.</p>
        </div>
      </div>

    </div>
  </div>
</div>
